<ion-header>
  <ion-toolbar>
    <ion-title>Default Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Logged-in Accounts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let account of loggedInAccounts">
          {{ account }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="navigateToDeckEditor()">Deck Editor</ion-button>
  <ion-button expand="full" (click)="navigateToSimilarGame()">Game</ion-button>
  <ion-button expand="full" (click)="navigateToCardSearch()">Card Search</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>