<ion-header>
  <ion-toolbar>
    <ion-title>Yu-Gi-Oh! Duel Simulator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start">
  <ion-back-button defaultHref="default"></ion-back-button>
</ion-buttons>

<ion-content class="ion-padding">
  <ion-card (click)="togglePlayerDeck()">
    <ion-card-header>
      <ion-card-title>Player Deck</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Deck Name</ion-label>
        <ion-input [(ngModel)]="playerDeck.name" placeholder="Enter deck name"></ion-input>
      </ion-item>
      <p>Deck: {{ playerDeck?.name }}</p>
      <ion-button color="danger" (click)="deleteDeck('player')">Delete Player Deck</ion-button>
      <ion-list *ngIf="showPlayerDeck">
        <ion-item *ngFor="let card of playerDeck?.cards">
          {{ card.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  

  <div class="duel-history">
  <h3>Duel History (Last 5)</h3>
  <ul>
    <li *ngFor="let record of duelHistory">
      <span>{{ record.date | date: 'short' }}</span>
      <span [ngClass]="{'result-win': record.result === 'Win', 'result-loss': record.result === 'Loss'}">
        {{ record.result }}
      </span>
    </li>
  </ul>
</div>
    
  <ion-button expand="full" (click)="simulateDuel()">Let's Duel</ion-button>
</ion-content>