<ion-header>
  <ion-toolbar>
    <ion-title>Yu-Gi-Oh! Duel Simulator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button expand="full" (click)="goHome()">Home</ion-button>
<ion-button expand="full" (click)="navigateToDeckEditor()">Deck Editor</ion-button>
<ion-button expand="full" (click)="navigateToCardSearch()">Card Search</ion-button>

<ion-content class="ion-padding">
  <ion-card (click)="togglePlayerDeck()">
    <ion-card-header>
      <ion-card-title>Player Deck</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Deck Name</ion-label>
        <ion-input [(ngModel)]="playerDeck.name" placeholder="Enter deck name"></ion-input>
      </ion-item>
      <p>Deck: {{ playerDeck?.name }}</p>
      <ion-button color="danger" (click)="deleteDeck('player')">Delete Player Deck</ion-button>
      <ion-list *ngIf="showPlayerDeck">
        <ion-item *ngFor="let card of playerDeck?.cards">
          {{ card.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Card Search -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Search Cards</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchCards()"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let card of searchResults" (click)="addCardToPlayerDeck(card)">
          {{ card.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Background Selection -->
  <ion-select [(ngModel)]="selectedBackground" (ionChange)="changeBackground(selectedBackground)">
    <ion-select-option value="Blue Eyes White Dragon.jpg">Blue Eyes White Dragon</ion-select-option>
    <ion-select-option value="Magicians.jpg">Magicians</ion-select-option>
    <ion-select-option value="shaddoll.webp">Shaddoll</ion-select-option>
    <ion-select-option value="Sky Striker.webp">Sky Striker</ion-select-option>
  </ion-select>
  

  <ion-button expand="full" (click)="savePlayerDeck()">Save Player Deck</ion-button>
  <ion-button expand="full" (click)="simulateDuel()">Let's Duel</ion-button>
</ion-content>
