<ion-content [fullscreen]="true" [style.background-image]="'url(' + background + ')'">
  <div class="animation-container">
    <div *ngIf="clonedCard" class="cloned-card" [style.top.px]="clonedCard.top" [style.left.px]="clonedCard.left">
      <img [src]="clonedCard.image" alt="Cloned Card" />
    </div>
  </div>

  <div class="game-board">
    <!-- Player's Field -->
    <div class="monster-cards">
      <div *ngFor="let card of playerMonsterCards" class="monster-card" [attr.data-card-id]="card.id">
        <ion-thumbnail>
          <img [src]="card?.card_images[0]?.image_url" alt="{{ card?.name }}" />
        </ion-thumbnail>
        <ion-label>{{ card?.name }}</ion-label>
        <ion-button (click)="selectCard(card)">Select</ion-button>
      </div>
    </div>

    <!-- Opponent's Field -->
    <div class="monster-cards">
      <div *ngFor="let card of opponentMonsterCards" class="monster-card" [attr.data-card-id]="card.id">
        <ion-thumbnail>
          <img [src]="card?.card_images[0]?.image_url" alt="{{ card?.name }}" />
        </ion-thumbnail>
        <ion-label>{{ card?.name }}</ion-label>
        <ion-button (click)="selectTarget(card)">Select Target</ion-button>
      </div>
    </div>
  </div>
</ion-content>